    </div>
    <div class="footer" role="footer">
        <p><small>Powered by <em><a href="https://github.com/abcdabcd987/offchange">OffChange</a></em> &copy; Lequn Chen</small></p>
    </div>
    <script src="//cdnjscn.b0.upaiyun.com/libs/jquery/1.10.0/jquery.min.js"></script>
    <script src="//cdnjscn.b0.upaiyun.com/libs/twitter-bootstrap/3.1.0/js/bootstrap.min.js"></script>
  </body>
</html>