<% include head %>

<form role="form" action="/goods/upload" method="post" enctype="multipart/form-data">
  <div class="form-group upload-group">
    <input type="file" class="form-control" name="file[]">
  </div>
  <a class="btn btn-default add-upload">Add a file</a>
  <button type="submit" class="btn btn-primary">Upload</button>
</form>

    </div>
    <script src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script>
$(".add-upload").on('click', function(e) {
  e.preventDefault();
  $('.upload-group').append('<input type="file" class="form-control" name="file[]">');
  return false;
})
</script>
  </body>
</html>