<% include head %>
<div class="jumbotron">
    <h1><%= settings.websiteName %></h1>
    <p><%= settings.websiteName %> is designed for offline exchange. Haven't done yet.</p>
    <p><a href="/goods" class="btn btn-primary btn-lg" role="button">Go to goods &raquo;</a></p>
</div>
<% include foot %>