<% include head %>
<div class="jumbotron">
    <h1>OffChange</h1>
    <p>OffChange is designed for offline exchange. Haven't done yet.</p>
    <p><a href="/goods" class="btn btn-primary btn-lg" role="button">Go to goods &raquo;</a></p>
</div>
<% include foot %>