extends layout

block content
    h1 Home Page
    ul
        li
            a(href="/register") register
        li
            a(href="/login") login
        li
            a(href="/logout") logout
        li
            a(href="/goods") goods list
        li
            a(href="/goods/new") new goods